<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{.title}}</title>
    </head>
    <body>
        {{if .userName}}
          <a href="/logout">Logout</a>
          <br />
          <a href="/delete-account">Delete Account</a>
          <h1>{{.userName}}</h1>
        {{else}}
          <a href="/login">Login</a>
        {{end}}
    </body>
</html>
