<title>{{.title}}</title>

{{if .errorType}}
  <p>{{.message}}</p>
{{end}}
<form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    {{if .email}}
      <p>{{.email}}</p>
    {{end}}

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    {{if .password}}
      <p>{{.password}}</p>
    {{end}}

    <button type="submit">Login</button>
</form>

<p>Don't have an account? You can <a href="signup">create</a>.</p>
