<title>{{.title}}</title>

{{if .errorType}}
  <p data-testid="other-error-msg">{{.message}}</p>
{{end}}
<form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    {{if .email}}
      <p data-testid="email-error-msg">{{.email}}</p>
    {{end}}

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    {{if .password}}
      <p data-testid="password-error-msg">{{.password}}</p>
    {{end}}

    <button type="submit" data-testid="login-submit-btn">Login</button>
</form>

<p>Don't have an account? You can <a href="signup">create</a>.</p>
