<title>{{.title}}</title>

{{if .errorType}}
<p data-testid="other-error-msg">{{.message}}</p>
{{end}}

{{if .successMessage}}
  <p data-testid="signup-success-msg">{{.successMessage}}</p>
{{end}}

{{if .otherInputError}}
  <p>{{.otherInputError}}</p>
{{end}}

<form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />

    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    {{if .email}}
      <p data-testid="email-error-msg">{{.email}}</p>
    {{end}}

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    {{if .password}}
      <p data-testid="password-error-msg">{{.password}}</p>
    {{end}}
    
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="password" />
    {{if .confirmPassword}}
      <p data-testid="confirm-password-error-msg">{{.confirmPassword}}</p>
    {{end}}

    <button type="submit" data-testid="signup-submit-btn">Signup</button>
</form>

<p>Already have an account? You can <a href="login">login</a>.</p>
